/* -------------------------------------------------- */
/* Pre-defined color set borrowed by bootstraps ----- */
/* (not totally borrowed) --------------------------- */
*:lang(en) {font-family: "Noto Sans", "Noto Sans SC", "Noto Sans TC", "Noto Sans JP", sans-serif !important;}
*:lang(zh-Hans) {font-family: "Noto Sans SC", "Noto Sans", "Noto Sans JP", sans-serif !important;}
*:lang(zh-Hant) {font-family: "Noto Sans TC", "Noto Sans SC", "Noto Sans", "Noto Sans JP", sans-serif !important;}
*:lang(jp) {font-family: "Noto Sans JP", "Noto Sans", sans-serif !important;}
/* -------------------------------------------------- */

img {
    margin-left: 3px;
    margin-right: 3px;
}

/* -------------------------------------------------- */
/* CSS adjusted for the site at last ---------------- */
/* (overwrites some wikipedialize.css) -------------- */
#git-wiki-content p, #git-wiki-content li, #interpage-navi p {
    margin: 8px 0 !important;
}

#git-wiki-content h1, #git-wiki-content h2, #git-wiki-content h3, #git-wiki-content h4 {
    margin-top: 10px;
    margin-bottom: 0;
}

#git-wiki-content > h1 {
    margin-bottom: 10px;
}
/* -------------------------------------------------- */

/* -------------------------------------------------- */
/* Bottom Copyright text ---------------------------- */
.git-wiki-copyrights p {
    text-align: right;
    margin-bottom: 7px;
}

.git-wiki-copyrights {
    width: 100%;
    alignment: right;
}
/* -------------------------------------------------- */

/* -------------------------------------------------- */
/* Custom infobox CSS ------------------------------- */
#infobox {
    width: 25em;
    border: 1px solid black !important;
    color: black;
    float: right;
    margin-left: 20px;
    position: relative;
}

@media screen and (max-width: 992px){
    #infobox {
        width: 100%;
        float: inherit;
        margin: revert;
    }
}

#infobox td, #infobox th {
    border-color: black;
}

.infobox-title, .infobox-subtitle, .stats-title > td {
    font-weight: bold;
    text-align: center;
}

.infobox-subtitle, .stats-title {
    background-color: rgba(51, 153, 204, 0.4);
}

.infobox-col-title {
    font-weight: bold;
}
/* -------------------------------------------------- */

.social-logo {
    margin-right: 5px;
    height: 20px;
}

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

/* -------------------------------------------------- */
/* Gallery <div> CSS -------------------------------- */
.gallery {
    background-color: #f8f9fa;
    color: black;
    display: flex;
    flex-wrap: wrap;
}

.gallery-img {
    margin: 10px;
    border: 0;
    padding: 0;
    text-align: center;
}

.gallery-img img {
    border: 1px solid black;
    width: 15em;
    object-fit: cover;
}

.gallery-caption {
    text-align: center;
    margin-bottom: 0;
    width: 20em;
    word-break: break-all;
    overflow-y: hidden;
}
/* -------------------------------------------------- */

.infobox-icon {
    text-align: center;
}

.icon-stu {
    width: auto !important;
    height: 1.4em;
}

.stu-list .icon-stu {
    height: 2em;
}

.stu-list {
    font-size: 1.8em;
}

.stu-list-desc {
    font-size: 0.6em;
}

.stu-list-desc .icon-stu {
    height: 1.2em;
}

.navi-p {
    font-size: 1.2em;
    word-break: break-all;
}

/* Copied from SchaleDB */
.invert-light {
    filter: invert(1) hue-rotate(180deg);
}

.schoolicon-p {height: 1.5em;}
.badge-tag {font-size: 1em; margin-top: 3px;}
#git-wiki-mobile-header {overflow: hidden;}

.story-battle-leader {
    height: 1em;
}


#all-story-image {
    width: 50%;
}

.all-battle-image {
    width: 40%;
}

@media print, screen and (max-width: 960px) {
    #all-story-image, .all-battle-image {
        width: 100%;
        margin-top: 5px;
    }
}

.track-video-div {
    cursor: pointer;
    color: #39c /* the same with <a> element, simulating it clickable */
}

.track-video-player {
    margin-top: 10px;
}

/* -------------------------------------------------- */
/* Character Quotes for student.html ---------------- */
#char_intro {
    margin: 1em 0.8em 1.5em 0.8em;
}

/* Copied From Warframe English Wiki */
#char_intro_text {
    font-style: italic;
    font-size: 1.2em;
    line-height: 1.5em;
}

#char_intro_text p {
    margin: 0 !important;
}

#char_intro_text p {
    text-indent: 2em;
}
/* -------------------------------------------------- */

/* -------------------------------------------------- */
/* #git-wiki-sidebar overwrite ---------------------- */
/*   - sticky sidebar on desktop view                 */
/*   - fix content overflow and un-scrollable bug on  */
/*     mobile view (any less than 992px in width)     */
#git-wiki-sidebar {
    position: sticky !important;
    top: 2em;
    z-index: 10;
}

@media print, screen and (max-width: 992px) {
    #git-wiki-sidebar {
        margin-bottom: 5em;
        padding-right: 1em;
        position: fixed !important;
        top: 50px;
    }

    #git-wiki-sidebar > div {
        margin-bottom: 5em;
    }
}
/* -------------------------------------------------- */

#interpage-navi-bottom {
    margin-top: 2em;
}

#homepage-left {
    width: 60%;
    flex: 6 60% none;
    margin-right: 8px;
}
#homepage-right {
    width: 40%;
    flex: 4 40% none;
}

#homepage-left, #homepage-right {
    border: #727272 solid 1px;
    padding: 0.4em;
}

#homepage-flex {
    display: flex;
}

@media print, screen and (max-width: 992px) {
    #homepage-flex {
        display: block;
        padding-right: 8px;
    }

    #homepage-left, #homepage-right {
        margin-bottom: 8px;
        display: block;
        width: 100%;
    }
}

.homepage-list {
    margin-bottom: 1em;
}

/*--------------------------------------------*/
body {
    padding: 0;
}

body > .wrapper {
    padding: 50px;
}

#main-wrapper, #main-wrapper > .git-wiki-page {
    padding-bottom: 0;
}

#bottom-wrapper {padding-top: 0;}

#bottom-wrapper > footer {padding-top: 20px; margin-top: 0;}

.git-wiki-page {margin-bottom: 0;}

#interpage-navi-bottom {
    position: sticky;
    bottom: 0;
    padding: 1em 0 0;
    margin-top: 0;
}

#interpage-navi-bottom p {
    margin: 8px 0 !important;
}

#interpage-navi-bottom > div {
    display: flex;
    padding-left: 370px;
    background-color: white;
}

#interpage-navi-bottom-left {
    flex: calc(100% - 32em);
    border: #1186f2 solid 6px;
    padding-left: 1em;
}

#interpage-navi-bottom-right {
    flex: 32em;
}

#interpage-navi-bottom-left, #interpage-navi-bottom-right {
    background-color: white;
}

@media print, screen and (max-width: 992px) {
    #interpage-navi-bottom-left {
        width: 100%;
    }
    #interpage-navi-bottom-right {
        flex: none;
        display: none;
    }
    #interpage-navi-bottom > div {
        padding-left: 370px;
        display: block;
        height: calc(7em + 7px);
    }
}

@media print, screen and (max-width: 960px) {
    body > .wrapper {
        padding: 20px;
    }
    #interpage-navi-bottom > div {
        padding-left: 20px;
        display: block;
        border: #1186f2 solid 6px;
    }
    #interpage-navi-bottom-left {
        border: none;
        padding-left: initial;
    }
}

/* ------------ z-index ----------- */
#main-wrapper {z-index: 5}
#interpage-navi-bottom-right {z-index: 6}
#infobox {z-index: 7}
#interpage-navi-bottom-left {z-index: 8}
@media print, screen and (max-width: 992px) {
    #interpage-navi-bottom {
        z-index: 9;
    }
}

/* Stats in the title */
.stats-badge .badge-tag {
    font-size: 0.8em;
}

.stats-badge {
    display: inline-block;
}

/* Stats Table */
.stats-table, .stats-table tr, .stats-table tr td {
    border: black 1px solid;
}

.stats-table {
    text-align: left;
    color: black;
    margin-top: 8px;

    width: min(50em, 80%);
}

@media print, screen and (max-width: 960px) {
    .stats-table {
        width: 100%;
    }
}

/* Table with fixed width */
.td-16-67-width {width: 16.67%}
.td-25-00-width {width: 25%}
.td-12-50-width {width: 12.5%}

.badge-stu-bond-track {font-size: 0.7em;}

.storyinfo-source-ul {margin-bottom: 0;}

.stu-name-by-comm:lang(zh-Hans):after {content: "[通讯]"}
.stu-name-by-comm:lang(en):after {content: "[Comm]"}
.stu-name-by-narr:lang(zh-Hans):after {content: "[叙述]"}
.stu-name-by-narr:lang(en):after {content: "[Narrator]"}

.story-by-comm:lang(zh-Hans):after {content: "[通讯]"}
.story-by-comm:lang(en):after {content: "[Comm]"}
.story-by-narr:lang(zh-Hans):after {content: "[叙述]"}
.story-by-narr:lang(en):after {content: "[Narrator]"}

.tooltip-variable-content {display: none;}