*:lang(en) {font-family: "Noto Sans", "Noto Sans SC", "Noto Sans TC", "Noto Sans JP" sans-serif !important;}
*:lang(zh-Hans) {font-family: "Noto Sans SC", "Noto Sans", "Noto Sans JP", sans-serif !important;}
*:lang(zh-Hant) {font-family: "Noto Sans TC", "Noto Sans SC", "Noto Sans", "Noto Sans JP", sans-serif !important;}
*:lang(jp) {font-family: "Noto Sans JP", "Noto Sans", sans-serif !important;}

img {
    margin-left: 3px;
    margin-right: 3px;
}

#git-wiki-content p, #git-wiki-content li {
    margin: 8px 0 !important;
}

#git-wiki-content h1, #git-wiki-content h2, #git-wiki-content h3, #git-wiki-content h4 {
    margin-top: 10px;
    margin-bottom: 0;
}

#git-wiki-content > h1 {
    margin-bottom: 10px;
}


.git-wiki-copyrights p {
    text-align: right;
    margin-bottom: 7px;
}

.git-wiki-copyrights {
    width: 100%;
    alignment: right;
}

#infobox {
    width: 25em;
    border: 1px solid black !important;
    color: black;
    float: right;
    margin-left: 20px;
}

@media screen and (max-width: 992px){
    #infobox {
        width: 100%;
        float: inherit;
        margin: revert;
    }
}

#infobox td, #infobox th {
    border-color: black;
}

.infobox-title, .infobox-subtitle {
    font-weight: bold;
    text-align: center;
}

.infobox-subtitle {
    background-color: rgba(51, 153, 204, 0.4);
}

.social-logo {
    margin-right: 5px;
    height: 20px;
}

.infobox-col-title {
    font-weight: bold;
}

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.badge-primary {color: white; background-color: #007BFF;}
.badge-secondary {color: white; background-color: #6C757D;}
.badge-success {color: white; background-color: #28A745;}
.badge-danger {color: white; background-color: #DC3545;}
.badge-warning {color: white; background-color: #FFC107;}
.badge-info {color: white; background-color: #17A2BB;}
.text-primary {color: #007BFF;}
.text-secondary {color: #6C757D;}
.text-success {color: #28A745;}
.text-danger {color: #DC3545;}
.text-warning {color: #FFC107;}
.text-info {color: #17A2BB;}

.gallery {
    background-color: #f8f9fa;
    color: black;
    width: 50%;
}

.gallery-img {
    float: left;
    margin: 10px;
    border: 0;
    padding: 0;
    text-align: center;
}

.gallery-img img {
    border: 1px solid black;
    width: 15em;
}

.gallery-caption {
    text-align: center;
    margin-bottom: 0;
    width: 20em;
    word-wrap: break-word;
    overflow-y: hidden;
}

.icon-stu {
    height: 20px;
}

.infobox-icon {
    text-align: center;
}

.stu-list .icon-stu {
    height: 2em;
}

.stu-list {
    font-size: 2em;
}

.navi-p {
    font-size: 1.2em;
}


