/* -------------------------------------------------- */
/* Pre-defined color set borrowed by bootstraps ----- */
/* (not totally borrowed) --------------------------- */
*:lang(en) {font-family: "Noto Sans", "Noto Sans SC", "Noto Sans TC", "Noto Sans JP", sans-serif !important;}
*:lang(zh-Hans) {font-family: "Noto Sans SC", "Noto Sans", "Noto Sans JP", sans-serif !important;}
*:lang(zh-Hant) {font-family: "Noto Sans TC", "Noto Sans SC", "Noto Sans", "Noto Sans JP", sans-serif !important;}
*:lang(jp) {font-family: "Noto Sans JP", "Noto Sans", sans-serif !important;}
/* -------------------------------------------------- */

img {
    margin-left: 3px;
    margin-right: 3px;
}

/* -------------------------------------------------- */
/* CSS adjusted for the site at last ---------------- */
/* (overwrites some wikipedialize.css) -------------- */
#git-wiki-content p, #git-wiki-content li {
    margin: 8px 0 !important;
}

#git-wiki-content h1, #git-wiki-content h2, #git-wiki-content h3, #git-wiki-content h4 {
    margin-top: 10px;
    margin-bottom: 0;
}

#git-wiki-content > h1 {
    margin-bottom: 10px;
}
/* -------------------------------------------------- */

/* -------------------------------------------------- */
/* Bottom Copyright text ---------------------------- */
.git-wiki-copyrights p {
    text-align: right;
    margin-bottom: 7px;
}

.git-wiki-copyrights {
    width: 100%;
    alignment: right;
}
/* -------------------------------------------------- */

/* -------------------------------------------------- */
/* Custom infobox CSS ------------------------------- */
#infobox {
    width: 25em;
    border: 1px solid black !important;
    color: black;
    float: right;
    margin-left: 20px;
}

@media screen and (max-width: 992px){
    #infobox {
        width: 100%;
        float: inherit;
        margin: revert;
    }
}

#infobox td, #infobox th {
    border-color: black;
}

.infobox-title, .infobox-subtitle {
    font-weight: bold;
    text-align: center;
}

.infobox-subtitle {
    background-color: rgba(51, 153, 204, 0.4);
}

.infobox-col-title {
    font-weight: bold;
}
/* -------------------------------------------------- */

.social-logo {
    margin-right: 5px;
    height: 20px;
}

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

/* -------------------------------------------------- */
/* Pre-defined color set borrowed by bootstraps ----- */
/* (not totally borrowed) --------------------------- */
.badge-primary {color: white; background-color: #007BFF;}
.badge-secondary {color: white; background-color: #6C757D;}
.badge-success {color: white; background-color: #28A745;}
.badge-danger {color: white; background-color: #DC3545;}
.badge-warning {color: white; background-color: #FFC107;}
.badge-info {color: white; background-color: #17A2BB;}
.text-primary {color: #007BFF;}
.text-secondary {color: #6C757D;}
.text-success {color: #28A745;}
.text-danger {color: #DC3545;}
.text-warning {color: #FFC107;}
.text-info {color: #17A2BB;}
.text-momo {color: #F998AB;}
.text-black {color: #000000;}

/* Though named "damage", the armor type can be used as well */
.text-damage-explosive {color: #A70C19}
.text-damage-piercing {color: #B26D1F}
.text-damage-mystic {color: #216F9C}
.text-damage-sonic {color: #9431A5}
.text-role-striker {color: #CC1A25}
.text-role-special {color: #006bff}
/* -------------------------------------------------- */

/* -------------------------------------------------- */
/* Gallery <div> CSS -------------------------------- */
.gallery {
    background-color: #f8f9fa;
    color: black;
    width: 50%;
}

.gallery-img {
    float: left;
    margin: 10px;
    border: 0;
    padding: 0;
    text-align: center;
}

.gallery-img img {
    border: 1px solid black;
    width: 15em;
}

.gallery-caption {
    text-align: center;
    margin-bottom: 0;
    width: 20em;
    word-wrap: break-word;
    overflow-y: hidden;
}
/* -------------------------------------------------- */

.infobox-icon {
    text-align: center;
}

.icon-stu {
    height: 1.4em;
}

.stu-list .icon-stu {
    height: 2em;
}

.stu-list {
    font-size: 1.8em;
}

.stu-list-desc {
    font-size: 0.6em;
}

.stu-list-desc .icon-stu {
    height: 1.2em;
}

.navi-p {
    font-size: 1.2em;
}

/* Copied from SchaleDB */
.invert-light {
    filter: invert(1) hue-rotate(180deg);
}

.schoolicon-p {height: 1.5em;}
.badge-tag {font-size: 1em; margin-top: 3px;}
#git-wiki-mobile-header {overflow: hidden;}

.story-battle-leader {
    height: 1em;
}


#all-story-image {
    width: 50%;
}

.all-battle-image {
    width: 40%;
}

@media print, screen and (max-width: 960px) {
    #all-story-image, .all-battle-image {
        width: 100%;
        margin-top: 5px;
    }
}

.track-video-div {
    cursor: pointer;
    color: #39c /* the same with <a> element, simulating it clickable */
}

.track-video-player {
    margin-top: 10px;
}

/* -------------------------------------------------- */
/* Character Quotes for student.html ---------------- */
#char_intro {
    margin: 1em 0.8em 1.5em 0.8em;
}

/* Copied From Warframe English Wiki */
#char_intro_text {
    font-style: italic;
    font-size: 1.2em;
    line-height: 1.5em;
}

#char_intro_text p {
    margin: 0 !important;
}

#char_intro_text p {
    text-indent: 2em;
}
/* -------------------------------------------------- */

/* -------------------------------------------------- */
/* #git-wiki-sidebar overwrite ---------------------- */
/*   - sticky sidebar on desktop view                 */
/*   - fix content overflow and un-scrollable bug on  */
/*     mobile view (any less than 992px in width)     */
#git-wiki-sidebar {
    position: sticky !important;
    top: 2em;
}

@media print, screen and (max-width: 992px) {
    #git-wiki-sidebar {
        margin-bottom: 5em;
        padding-right: 1em;
        position: fixed !important;
        top: 50px;
    }

    #git-wiki-sidebar > div {
        margin-bottom: 5em;
    }
}
/* -------------------------------------------------- */
