/* 覆写原始popup的CSS */
.popup-content .popup-header .popup-title {display: none}
.popup-content .popup-body {font-size: initial !important; text-align: initial;}

.popup-icon {height: 1em;} /* 默认为 1em 和字体一样大，不然就单独覆写 */

.popup-content .popup-body .tooltip-div {
    color: black;
    font-size: initial;
}

.popup-content a {color: #39c !important;}
.popup-content a:hover {color: #069 !important;}

.popup-content .popup-body .tooltip-div .tooltip-ol li {
    text-overflow: initial;
    -webkit-line-clamp: initial;
    overflow: initial;
    white-space: initial;
}
.popup-content .popup-body .tooltip-div .tooltip-ol li:before {
    content: "";
}

.popup-content .popup-body .tooltip-div .tooltip-ol, .popup-content .popup-body .tooltip-div .tooltip-ul {
    padding-left: 3em;
    height: unset;
}

.gallery-img div span .popup-icon {
    height: 1em;
    width: 1em;
    border: unset;
}

.popup-content {
    max-height: 90%;
    overflow: auto;
}
