/* -------------------------------------------------- */
/* Pre-defined color set borrowed by bootstraps ----- */
/* (not totally borrowed) --------------------------- */
.badge-primary {color: white; background-color: #007BFF;}
.badge-secondary {color: white; background-color: #6C757D;}
.badge-success {color: white; background-color: #28A745;}
.badge-danger {color: white; background-color: #DC3545;}
.badge-warning {color: white; background-color: #FFC107;}
.badge-info {color: white; background-color: #17A2BB;}
.badge-momo {color: white; background-color: #F998AB;}
.text-primary {color: #007BFF !important;}
.text-secondary {color: #6C757D !important;}
.text-success {color: #28A745 !important;}
.text-danger {color: #DC3545 !important;}
.text-warning {color: #FFC107 !important;}
.text-info {color: #17A2BB !important;}
.text-momo {color: #F998AB !important;}
.text-black {color: #000000 !important;}

/* Specifically for the tooltip */
a[class=text-primary] {color: #007BFF !important;}
a[class=text-danger] {color: #DC3545 !important;}
a[class=text-momo] {color: #F998AB !important;}
a[class=text-black] {color: #000000 !important;}

/* Though named "damage", the armor type can be used as well */
.text-damage-explosive {color: #A70C19 !important;}
.text-damage-piercing {color: #B26D1F !important;}
.text-damage-mystic {color: #216F9C !important;}
.text-damage-sonic {color: #9431A5 !important;}
.text-role-striker {color: #CC1A25 !important;}
.text-role-special {color: #006bff !important;}
/* -------------------------------------------------- */