.tooltip-div {
    width: 100%;
    color: white;
    text-align: left !important;
}

.tooltip-div p, .tooltip-div li, .tooltip-div hr {
    margin: 8px 0 !important;
}

.tooltip-title {
    font-size: 1.5em;
    height: 1.7em;
}

.tooltip-subtitle {
    font-size: 1.2em;
    height: 1.3em;
}

.tooltip-title, .tooltip-subtitle {
    font-weight: bold;
    margin-top: 0 !important;
}

.tooltip-ol, .tooltip-ul {
    max-height: 10em;
    overflow-y: auto;
    padding-right: 8px;
    padding-left: 1em;
    margin-bottom: 0;
}

.tooltip-ul {
    padding-left: 2em;
}

.tooltip-ellipsis, .tooltip-ol li {
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    overflow: hidden;
    white-space: nowrap;
}

.tooltip-ol li:before {
    content: "· "
}

.gallery-caption > div > div > div > .tooltip-div {
    text-align: left;
}

.gallery-caption > div > div > div > .tooltip-div .tooltip-ol li img {
    width: auto;
}